<!DOCTYPE html>
<html>
	<head>
		<meta charset="EUC-KR">
		<title>개인 취향 테스트(GET)</title>
	</head>
	<body>
		<h1>개인 취향 테스트(GET)</h1>
		당신의 취향을 테스트 합니다.<br>
		데이터 입력 후 확인 버튼을 누르세요<br>
		<form action="/tasteResult.do" method="get" accept-charset="UTF-8">
			이름은?<input type="text" name="name"><br><br>
			좋아하는 색? 빨강 <input type="radio" value="red" name = "color"> 
			파랑<input type="radio" value="blue" name = "color">
			노랑 <input type="radio" value="yellow" name = "color"> 
			초록 <input type="radio" value="green" name = "color"><br><br>
			좋아하는 동물은?
			<select name="animal">
				<option value="dog">강아지</option>
				<option value="cat">고양이</option>
				<option value="lizard">도마뱀</option>
				<option value="turtle">거북이</option>
			</select><br><br>
			좋아하는 음식은?(모두 고르시오)
			짜장면 <input type="checkbox" value="jjajang" name="food">
			짬뽕<input type="checkbox" value="jjambbong" name="food">
			탕수육<input type="checkbox" value="tangsuyuk" name="food">
			양장피<input type="checkbox" value="yangjyangpi" name="food">
			팔보채<input type="checkbox" value="palbochae" name="food"><br>
			<input type="submit" value="결과보기">
		</form>
	</body>
</html>